{% extends "politicians/base.html" %}

{% block content %}
<h1 id="heading_text">Meu Político - {{ news_heading }}</h1>

{% if news_entry %}
    <div class="row">
    <div class="noticia-wrapper span10 offset1">
    {% for news, like_count, like_status, rating, vote_status, polit_set, num in news_entry %}

        <div class="noticia">
            <h3 class="news_title"><a href="{{ news.link}}">{{ news.title }}</a> </h3>
            <p class="news_detail">
            - {% for polit in polit_set %}
                <a href="{% url 'politician_profile' polit.id %}">{{ polit.name }}</a> -
            {% endfor %}
                 {{news.pub_date}}
                 {{news.source}}
            </p>
        </div>

        <p name="count">{{ like_count }} likes</p>
        {% if like_status == None %}
        {% elif like_status == True %}
            You like this.
            <form action="{% url 'news' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="unliked" value="{{ news.id }}"/>
                <input type="submit" name="unlike_button" value="Não curtir"/>
            </form>
        {% else %}
            You don't like this.
            <form action="{% url 'news' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="liked" value="{{ news.id }}"/>
                <input type="submit" name="like_button" value="Curtir"/>
            </form>
        {% endif %}

        <span id='bias{{ num }}'>
            {% if news.bias == True %}
                Tendenciosa
            {% else %}
                Confiavel
            {% endif  %}
        </span>

		<p name="rating">Grau de tendenciosidade: {{ rating }}</p>
		{% if vote_status == None %}
		{% else %}
			<form action="{% url 'news' %}" method="post">
			{% csrf_token %}
			{% if vote_status == 1 %}
				<input type="hidden" name="undo_upvoted" value="{{ news.id }}"/>
                <input type="submit" name="undoupvote_button" value="Desmarcar como tendenciosa"/>
			{% else %}
				<input type="hidden" name="upvoted" value="{{ news.id }}"/>
                <input type="submit" name="upvote_button" value="Marcar como tendenciosa"/>
			{% endif %}
			</form>
			<form action="{% url 'news' %}" method="post">
			{% csrf_token %}
			{% if vote_status == -1 %}
				<input type="hidden" name="undo_downvoted" value="{{ news.id }}"/>
                <input type="submit" name="undodonwvote_button" value="Desmarcar como objetiva"/>
			{% else %}
                <input type="hidden" name="downvoted" value="{{ news.id }}"/>
                <input type="submit" name="downvote_button" value="Marcar como objetiva"/>
			{% endif %}
			</form>
		{% endif %}
		{% load comments %}
		{% get_comment_count for politicians.news news.id as comment_count %}
		<a href="{% url 'news_page' news.id %}">Ver comentários ({{ comment_count }})</a>

        {% if not forloop.last %}
            <hr class="news">
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% else %}
    <p>Nenhuma notícia cadastrada.</p>
{% endif %}

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#top_noticias').addClass('active');
        });
    </script>
{% endblock %}