{% extends "politicians/base.html" %}

{% block content %}
<h1 id="heading_text">Meu Político - Perfil do Político</h1>
<h2>{{ politician.name }}</h2>
<h3>Foto: {{ politician.foto_url }}</h3>
<h3>Partido: {{ politician.party }}</h3>
<h3>Cargo: {{ politician.cargo }}</h3>
<h3>Cidade: {{ politician.cidade }}</h3>
<h3>Telefone: {{ politician.telefone }}</h3>
<h3>Wikipedia: {{ politician.wikipedia }}</h3>
<h3>Youtube: {{ politician.youtube }}</h3>
<h3>Twitter: {{ politician.twitter }}</h3>
<h3>Facebook: {{ politician.facebook }}</h3>
<h3>5 Estrelas: {{ politician.estrela5 }}</h3>
<h3>4 Estrelas: {{ politician.estrela4 }}</h3>
<h3>3 Estrelas: {{ politician.estrela3 }}</h3>
<h3>2 Estrelas: {{ politician.estrela2 }}</h3>
<h3>1 Estrela: {{ politician.estrela1 }}</h3>

<p>Partido: {{ politician.party.acronym }}</p>

<h3>Notícias</h3>
{% if recent_news %}
	<div class="row">
    <div class="noticia-wrapper span10 offset1">
    {% for news in recent_news %}
    	    <div class="noticia">
        <h3 class="news_title"><a href="{{ news.link}}">{{ news.title }}</a> </h3>
        <p class="news_detail">
        	 - {{news.pub_date}}
         </p>
         </div>
        {% if not forloop.last %}
        <hr class="news">
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% else %}
    <p>Nenhuma notícia recente.</p>
{% endif %}

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#top_politicos').addClass('active');
        });
    </script>
{% endblock %}
