{% extends "politicians/base.html" %}

{% block content %}
<h1 id="heading_text">Meu Político - Perfil do Político</h1>
<h2>{{ politician.name }}</h2>
{% if request.session.username != none %}
    {% if not is_favorited %}
        <form action="{% url 'favorite_politician' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="politician_id" value="{{ politician.id }}" />
            <input type="hidden" name="original_page" value="{% url 'politician_profile' politician.id %}" />
            <button type="submit">Favoritar</button>
        </form>
    {% else %}
        <form action="{% url 'unfavorite_politician' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="politician_id" value="{{ politician.id }}" />
            <input type="hidden" name="original_page" value="{% url 'politician_profile' politician.id %}" />
            <button type="submit">Desfavoritar</button>
        </form>
    {% endif %} 
{% endif %}
<p>Partido: {{ politician.party.acronym }}</p>

<h3>Notícias</h3>
{% if recent_news %}
	<div class="row">
    <div class="noticia-wrapper span10 offset1">
    {% for news in recent_news %}
    	    <div class="noticia">
        <h3 class="news_title"><a href="{{ news.link}}">{{ news.title }}</a> </h3>
        <p class="news_detail">
        	 - {{news.pub_date}}
         </p>
         </div>
        {% if not forloop.last %}
        <hr class="news">
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% else %}
    <p>Nenhuma notícia recente.</p>
{% endif %}

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#top_politicos').addClass('active');
        });
    </script>
{% endblock %}