{% extends "politicians/base.html" %}

{% block content %}
﻿{% load staticfiles %}
<div class="esq"> 
<a><img id="foto" src="{{ politician.foto_url }}" alt="{{ politician.name }}"></a>     
<h2>{{ politician.name }}</h2>
<p>Partido: {{ politician.party }}</p>
<p>Cargo: {{ politician.cargo }}</p>
<p>Cidade : {{ politician.cidade }}</p>
<div id="contact_links">
<a href="{{ politician.facebook }}"><img class="urlimg" id="facebook" src="{% static 'politicians/images/facebook.png' %}" alt="facebook"></a>     
<a href="{{ politician.twitter }}"><img class="urlimg" id="twitter" src="{% static 'politicians/images/twitter.png' %}" alt="twitter"></a>     
<a href="{{ politician.youtube }}"><img class="urlimg" id="youtube" src="{% static 'politicians/images/youtube.png' %}" alt="youtube"></a>     
<a href="{{ politician.wikipedia }}"><img class="urlimg" id="wikipedia" src="{% static 'politicians/images/wikipedia.png' %}" alt="wikipedia"></a>
</div>
<p>Review</p>
<p>5 Estrelas: {{ politician.estrela5 }}</p>
<p>4 Estrelas: {{ politician.estrela4 }}</p>
<p>3 Estrelas: {{ politician.estrela3 }}</p>
<p>2 Estrelas: {{ politician.estrela2 }}</p>
<p>1 Estrela: {{ politician.estrela1 }}</p>

</div>

<div class="dir">


<div class="row">
<h4>Noticias relacionadas ao politico</h3>
{% if recent_news %}
	
    <div class="noticia-wrapper span10 offset1">
    {% for news in recent_news %}
    	    <div class="noticia">
        <h3 class="news_title"><a href="{{ news.link}}">{{ news.title }}</a> </h3>
        <p class="news_detail">
        	 - {{news.pub_date}}
         </p>
         </div>
        {% if not forloop.last %}
        <hr class="news">
        {% endif %}
    {% endfor %}
    </div>
    
{% else %}
    <p>Nenhuma notícia recente.</p>
{% endif %}
</div>
</div>

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#top_politicos').addClass('active');
        });
    </script>
{% endblock %}
