{% extends "politicians/base.html" %}

{% block content %}
﻿{% load staticfiles %}
<div class="esq"> 
{% if politician.foto_url %}    
<a><img id="foto" src="{{ politician.foto_url }}" alt="{{ politician.name }}"></a>     
{% endif %}
<h2>{{ politician.name }}</h2>
<p>Partido: {{ politician.party }}</p>
<p>Cargo: {{ politician.cargo }}</p>
<p>Cidade : {{ politician.cidade }}</p>
<div id="contact_links">
<a href="{{ politician.facebook }}"><img class="urlimg" id="facebook" src="{% static 'politicians/images/facebook.png' %}" alt="facebook"></a>     
<a href="{{ politician.twitter }}"><img class="urlimg" id="twitter" src="{% static 'politicians/images/twitter.png' %}" alt="twitter"></a>     
<a href="{{ politician.youtube }}"><img class="urlimg" id="youtube" src="{% static 'politicians/images/youtube.png' %}" alt="youtube"></a>     
<a href="{{ politician.wikipedia }}"><img class="urlimg" id="wikipedia" src="{% static 'politicians/images/wikipedia.png' %}" alt="wikipedia"></a>
</div>
<br>
<div style="text-align:center; margin-left:auto; margin-right:auto;">
<p><b>Reviews</b></p>

<table border="0" cellspacing="1" cellpadding="0" align="left" class="barra_estrelas">
<tbody>

<tr>
<td class="barra_estrelas_texto" align="left">
  <a>5 Estrelas:&nbsp;</a>
</td>
<td class="barra_estrelas" width="80" align="left"><div class="barra_estrelas" style="width:{{est5pc}}%;"></div></td>
<td align="right">&nbsp;({{ est5 }})</td>
</tr>
<tr>
<td class="barra_estrelas_texto" align="left">
  <a>4 Estrelas:&nbsp;</a>
</td>
<td class="barra_estrelas" width="80" align="left"><div class="barra_estrelas" style="width:{{est4pc}}%;"></div></td>
<td align="right">&nbsp;({{ est4 }})</td>
</tr>
<tr>
<td class="barra_estrelas_texto" align="left">
  <a>3 Estrelas:&nbsp;</a>
</td>
<td class="barra_estrelas" width="80" align="left"><div class="barra_estrelas" style="width:{{est3pc}}%;"></div></td>
<td align="right">&nbsp;({{ est3 }})</td>
</tr>
<tr>
<td class="barra_estrelas_texto" align="left">
  <a>2 Estrelas:&nbsp;</a>
</td>
<td class="barra_estrelas" width="80" align="left"><div class="barra_estrelas" style="width:{{est2pc}}%;"></div></td>
<td align="right">&nbsp;({{ est2 }})</td>
</tr>
<tr>
<td class="barra_estrelas_texto" align="left">
  <a>1 Estrela:&nbsp;</a>
</td>
<td class="barra_estrelas" width="80" align="left"><div class="barra_estrelas" style="width:{{est1pc}}%;"></div></td>
<td align="right">&nbsp;({{ est1 }})</td>
</tr>

</tbody></table>

{% if review_user %}
<a href="" id="EditarReview" data-message="mensagem" class="btn btn-primary">Editar Review</a>
{% else %}
<a href="{% url 'politician_review' politician.id %}" id="CriarReview" data-message="mensagem" class="btn btn-primary">Criar  Review</a>
{% endif %}

</div>
<!-- <p>
{{request.session.user.username}}
</p> -->



</div>

<div class="dir">

<div class="row">
<h4 class="dir">Realize seu Review</h3>
  <form class="dir" action={% url 'add_review' politician.id %} method={{ method|default:"post" }}>
    {% csrf_token %}
    <div class="dir">
    <b>Número de Estrelas:&nbsp;</b>
    <input type="radio" name="num_estrelas" value="5">5&nbsp;
    <input type="radio" name="num_estrelas" value="4">4&nbsp;
    <input type="radio" name="num_estrelas" value="3">3&nbsp;
    <input type="radio" name="num_estrelas" value="2">2&nbsp;
    <input type="radio" name="num_estrelas" value="1">1
<br>
    <b>Título:&nbsp;</b><input id="review_titulo" class="span8" type="text" name="review_titulo"/><br />
    
<br />
    <b>Descrição:&nbsp;</b>
    <textarea rows="16" id="review_texto" class="span8" type="text" name="review_texto"></textarea><br />
    <button id="review_button" class="btn" type="submit">Enviar Review</button>
  </div>
    
</form>

</div>

</div>

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#top_politicos').addClass('active');
        });
    </script>
{% endblock %}
