#logo {
	float: left;
	padding-top: 10px;
	margin: 0px;
	width: 240px;
	height: 73px;
}
#frase_de_efeito {
	width: 630px;
	height: 115px;
	margin: 20px;
}
.circ187 {
	width: 187px;
	height: 187px;
}
#fbconnectbutton{
	margin: 10px;
	/*width: 378px;
	height: 96px;*/
	width: 189px;
	height: 48px;
}
div #estatistica{
	margin-bottom: 30px;
}
div #como{
	margin-top: 30px;
}
footer {
	text-align: right;
}
#info{
	color: #404040;
}
#content{
	padding: 40px;
}
#heading_text{
	text-align: center;
}
.image_subtitle{
	font-weight: normal;
}
.title_text{
	text-align: center;
}
.news_detail{
	margin:0;
	margin-left: 50px;
}
.noticia{
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}
.noticia-wrapper{
	background-color: #f7f7f7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.news_title{
	margin:0
}
hr.news{
	margin:6px;
}
#news_body{
	margin:10px;
}
.nav-collapse.collapse{
	padding-top: 0
}
div #busca{
	padding-top: 10px;
	display:inline-block;
	float:right;
	width: auto;
	text-align: center;
}
div #login_header{
	padding-right: 30px;
	padding-top: 20px;
	display:inline-block;
	float:right;
	width: auto;
	text-align: center;
}
#top_buttons{
	padding-left: 10px;
	padding-top: 30px;
	font-size: 14px;
}
div #login_page{
	text-align: center;
}