@charset "utf-8";
body {
	background:none !important;
}
#topo, #menuSuperiorCorrecao, #menuinferiorlinks, #rodapeconteudo, #menudeacesso, #menuservicos, #menudireitoInterno, .contentViews, .contentActions, #data, #box_busca, #atalhos_acessibilidade, #internaciolizacao, #acessibilidade_link, #MenuLateralDireito, #impressao, #mapaSite_bg {
    display: none;
}
#ancora:after {
    content: " ";
}
#portal-conteudo {
    margin: auto;
    width: 100%;
}
#conteudo, #conteudoPrincipal, #portal-conteudo, #region-content {
    margin: auto;
    width: 100% !important;
}
#topo_padrao {
	display:block;
	width:100%;
	height:85px;
	background:url(../img/2012/topo_padrao.png) no-repeat;
}
#voto_limpo {
	position:absolute;
	top:40px;
	right: 100px;
    width: 143px;	
}
#identificacao_site h1, #identificacao_site a{
	display:none;
}

#portal-breadcrumbs {
	display:block;
}
#portal-breadcrumbs a {
color:#CC9900 !important;
}
#kss-spinner {
	display:none;
}
#linhaCaminho{border-bottom:1px solid #c90;}