h1, h2, h3, h4, h5, h6 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

ul{
    line-height:16px;
}
a{
    text-decoration:none;
    border:none;
}
#mapaSite_bg h2{
    color:#363636;
}
#central {
    border:1px solid #e8e8e8;
    margin-bottom: 2px;
    margin-top: 4px;
}
#region-content #searchform {
    margin-top:25px;
    display:block;
    margin-top:8px;
}
#region-content #searchform input.searchPage {
    font-size:75%;
    padding:3px 5px;
}
#region-content #searchform .searchButton {
    font-size:75%;
    padding:1px 1px 1px 19px !important;
    margin-left:7px !important;
}
#content A[href^='http:'] {
    PADDING-BOTTOM: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-RIGHT: 0px; 
    /*BACKGROUND: none;*/ 
    PADDING-TOP: 0px
}
#content dd span{
    font-size: 75%;
}
#conteudo {
    min-height: 610px;
    margin-top: 2px;
    margin-left:10px;
    padding-right:10px;
    float:left;
    position:relative;
}
#conteudo h1, #conteudoPrincipal h1 {
    color: #a1a1a1;
    font-size:125%;
    font-weight:bold;
    background:url(../img/submenu.jpg) bottom left no-repeat;
    padding-bottom:10px;
    margin-bottom:10px;
    margin-top:15px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#conteudo h2, #conteudoPrincipal h2 {
    color: #233CAA;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 81.25%;
    font-weight: bold;
}
#conteudo h2 a, #conteudo h2 a:link, #conteudo li a:visited, #conteudo h2 li a:active, #conteudoPrincipal h2 a, #conteudoPrincipal h2 a:link, #conteudoPrincipal li a:visited, #conteudoPrincipal h2 li a:active {
    color: #233caa !important;
    text-decoration: none;
    text-align:left;
}
#conteudo h2 a:hover, #conteudo h2 a:focus, #conteudoPrincipal h2 a:hover, #conteudoPrincipal h2 a:focus {
    color: #233caa !important;
    text-decoration:underline;
    text-align:left;
}
#conteudo p, #conteudoPrincipal p {
    color:#000;
    font-size:75%;
    margin-bottom:7px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#imagemConteudo {
    padding-top:10px;
    padding-right:10px;
}
#imagemConteudo img {
    border:1px solid #999999;
}
#tituloInterno h1 {
    color:#666666;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:125%;
    margin:0;
    padding:0;
    text-align:center;
    background:transparent;
}
#textoConteudo p {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:75%;
    text-align:left;
    padding-right:20px;
}
#textoConteudo p a:link, #textoConteudo p a:active, #textoConteudo p a:visited {
    color:#06C;
}
#textoConteudo p a:hover {
    color:#06C;
    text-decoration:underline;
}
#vejaTambem, #linksRelacionados {
    float:left;
}
#ancora {
    border:1px solid #F0F0F0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#666;
    margin:10px 80px 0 80px;
    text-align:center;
}
#ancora h2 {
    float:left;
    padding:5px;
    width:100%;
    font-size:75%;
    font-weight:normal;
}
#ancora h2 a:link, #ancora h2 a:visited, #ancora h2 a:active {
    border:1px solid #F0F0F0;
    margin-top:10px;
    text-decoration:none;
    color:#666;
}
#ancora h2 a:hover, #ancora h2 a:focus {
    color:#666;
    text-decoration:underline;
}
#ancora span {
    padding:5px;
    color:#666;
}
.center {
    clear:both;
    width:100%;
    overflow:hidden;
    position:relative;
    margin-top:25px;
    *padding-top:20px;
}
.center .helper {
    float:left;
    position:relative;
    left:50%;
}
.center .helper #imagemConteudo {
    float:left;
    position:relative;
    right:50%;
    text-align:right;
}
#legendaPaginaInterna {
    text-align:right !important;
    padding-left:45px;
    margin-top:0px;
    padding-top:0px;
    color:#666;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:68.75%;
    display:block;
}
#fotografoPaginaInterna {
    text-align:right !important;
    padding-left:45px;
    margin-top:0px;
    padding-top:0px;
    color:#666;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:68.75%;
    display:block;
}

#portal-breadcrumbs {
    border-bottom: none;
    /*line-height: none;*/
    line-height: 15px;
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
}
#linhaCaminho {
    border-bottom:1px solid #CC9900;
    margin-left:11px;
    margin-right:10px;
}
#breadCrumb {
    background:url(../img/setaBreadCrumb.jpg) no-repeat left 60%;
    padding-left:10px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:75%;
    font-weight:bold;
    color:#CC9900;
    float:left;
    width:70%;
}
#breadCrumb a:link, #breadCrumb a:visited, #breadCrumb a:active {
    color:#CC9900;
    text-decoration:none;
}
#breadCrumb a:hover, #breadCrumb a:focus {
    color:#CC9900;
    text-decoration:underline;
}
#dataHoraConteudo {
    font:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:75%;
    font-weight:bold;
    text-align:right;
    color:#CC9900;
    margin-top:5px;
}

/* estilo do menu lateral */
#MenuLateralDireito {
    background:#FFF;
    margin-top:10px;
}
#MenuLateralDireito h2 {
    clear: both;
    color: #525252;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 10px;
    padding-top: 5px;
    text-align: left;
    text-transform: uppercase;
}
.bordaMenuLateralDireito {
    border: 1px solid #E2E2E2;
    margin-bottom: 19px;
    overflow: hidden;
    padding-bottom: 7px;
    padding-top: 7px;
}
.bordaMenuLateralDireito p{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:75%;
}
.bordaMenuLateralDireito p a, .bordaMenuLateralDireito p a:visited{
    color: #0066CC;
}
.bordaMenuLateralDireito p a:hover{
    text-decoration:underline;
}
#MenuLateralDireito ul li {
    color:#000;
    font-size:80%;
    letter-spacing:1px;
    margin:6px 13px 0px 16px;
    *margin-bottom:3px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    clear:left;
}
#MenuLateralDireito ul li a, #MenuLateralDireito ul li a:link, #MenuLateralDireito ul li a:visited, #MenuLateralDireito ul li a:active {
    color: #000;
    text-decoration: none;
    text-align:left;
    display:block;
    padding-bottom:2px;
}
#MenuLateralDireito ul li a:hover, #MenuLateralDireito ul li a:focus {
    color: #000;
    text-decoration:none;
    text-align:left;
    background:#f1f1f1;
    font-weight:bold;
    margin-left:-16px;
    margin-right:-13px;
    padding-left:16px;
    padding-right:13px;
}
#MenuLateralDireito ul.subMenu {
    *margin:-5px -13px 0 -16px;
}
#MenuLateralDireito ul.subMenu li {
    font-size:72% !important;
    *font-size:90% !important;
    margin:2px 13px 0px 16px;
}
#MenuLateralDireito ul.subMenuNavegation {
    font-size:15px;    
    margin-left: -17px;
    margin-right: -14px;
}
#MenuLateralDireito ul.subMenu li a:link, #MenuLateralDireito ul.subMenu li a:visited, #MenuLateralDireito ul.subMenu li a:active {
    padding-left:19px;
}
#MenuLateralDireito ul.subMenu li a:hover, #MenuLateralDireito ul.subMenu li a:focus {
    padding-left:35px;
}
.portletItem {
    border-left:none;
    border-right:none;
    padding:0em;
}
.portlet {
    border-bottom:none;
}
label {
    font-weight:normal;
}

p {
    line-height: 15px;
}

dd {
    line-height: 15px;
}
abbr, acronym, .explain {
    color:#666666;
}
.documentContent {
    background: none repeat scroll 0 0 White;
    font-size: 100%;
    padding: 0 !important;
}

#menuinferiorlinks li {
    float:left;	
}
#menuinferiorlink1, #menuinferiorlink2, #menuinferiorlink3, #menuinferiorlink4, #menuinferiorlink5, #menuinferiorlink6, #menuinferiorlink7, #menuinferiorlink8 {
    margin-left:6px;
    margin-right:6px;
}
.documentEditable {
    margin:0px;
    padding:1em !important;
}

.contentViews {
    font-size:75% !important;
}

.contentActions{
    font-size:75% !important;
}
.navTreeItem a, dd.portletItem .navTreeItem a {
    border:none !important;
}
.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover {
    background-color: none !important;
    border: transparent !important;
    padding-bottom: 2px !important;
}
/*Configuração do leiaute do resultado de busca*/
#region-content #searchform {
	margin-top:25px;
	display:block;
	margin-top:8px;
}
#region-content #searchform input.searchPage {
	font-size:75%;
	padding:3px 5px;
}
#region-content #searchform .searchButton {
	font-size:75%;
	/*padding:1px 1px 1px 19px !important;*/
	padding:2px 1px 2px 0 !important;
	margin-left:7px !important;
}
#searchform .discreet {
	font-size:75% !important;
}
.discreet .link-feed {
	font-size:75% !important;
}
.searchResults {
    font-size: 75%;
}
.searchResults img {
	margin-right:7px;
	vertical-align:sub;
    display:none;
}
.searchResults dd {
	font-size:90%;
	display:block;
	margin-bottom:20px;
	margin-left: 15px;
}

#bandeirasNoticias {
	margin-top:30px;
}
#bandeirasNoticias img  {
	border: 1px solid #000 !important;
}

TABLE.plain, TABLE.plain TD, TABLE.plain TH {
	border:1px solid #666;
}
#portletmanager-plone-leftcolumn form select{
    font-size:10px !important;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float:left;
}
dl.collapsible {
    float:left;
    width:100%;
}
.reviewHistory, .contentHistory {
    font-size: 80% !important;
}
#internaciolizacao a{
    color: #003192;
}
#acessibilidade_link a{
    color: #003192;
}
.listingBarNews{
    background-color: transparent !important;
    border:none !important;
    padding-bottom: 10px; 
}
.portletStaticText ul {
    list-style-image: none !important;
    list-style-type: none !important;
    margin: 0 !important;
}
#textRodape{
    background-color: #E2E2E2 !important;
    margin-bottom: -7px;

}
#textRodape ul li{
    background-color: #E2E2E2;
    color: #666666;
    text-align:right;
    font-size: 75%;
    letter-spacing: 1px;
}

#textRodape ul li a, 
#textRodape ul li a:link, 
#textRodape ul li a:visited, 
#textRodape ul li a:active {
    background-color: #E2E2E2;
    color: #666666;
    text-align:right;
    font-size: 75%;
    letter-spacing: 1px;
}

#textRodape ul li a:hover, 
#textRodape ul li a:focus {
    text-decoration:underline;
    color: #666666;
    font-weight:normal;
    font-size: 75%;
}

.listaRevisao{
    font-size:75% !important;
    padding:10px;
}

.img_video_home{
    position: relative;
}

.botao_play_video_home_subdestaque {
    background: url("../img/play_video.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    height: 66px;
    left: 44px;
    position: absolute;
    top: 20px;
    width: 66px;
}
.botao_play_video_home_destaque {
    background: url("../img/play_video.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    height: 66px;
    left: 130px;
    position: absolute;
    top: 60px;
    width: 66px;
}
